#startBtn{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  padding:15px 35px;
  font-size:22px;
  border:none;
  border-radius:30px;
  background:#ff69b4;
  color:white;
  cursor:pointer;
  z-index:10;
}

#card{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  display:none;
  z-index:5;
}

.paper{
  width:420px;
  padding:40px;
  background:white;
  border-radius:5px;

  background-image:
    linear-gradient(#fff 95%, #cfd8dc 95%),
    linear-gradient(90deg,#ff9aa2 0,#ff9aa2 3px,transparent 3px);
  background-size:100% 35px,35px 100%;
  box-shadow:0 15px 40px rgba(0,0,0,0.4);
}

.paper h2{
  text-align:center;
}

.photos{
  display:flex;
  gap:10px;
  margin-top:20px;
}

.photos img{
  width:48%;
  border-radius:6px;
}
